[submodule "reclass-system-salt-model"]
	path = mcp/reclass/classes/system
	url = https://github.com/Mirantis/reclass-system-salt-model
	branch = master
[submodule "pharos"]
	path = mcp/scripts/pharos
	url = https://github.com/opnfv/pharos
	branch = master
